<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">

        <ul class="list-unstyled list-inline">
          <li>
            <a class="btn btn-default btn-sm ng-binding" data-ui-sref="admin.nueva-categoria" >
              <i class="fa fa-plus"></i> Agregar categor&iacute;a
            </a>
            <a class="btn btn-default btn-sm ng-binding" ng-click="listaCategorias()">
              <i class="fa fa-refresh"></i> Actualizar lista
            </a>
          </li>
          <li><span class="text-muted">|</span></li>
          <li>
              <input type="text" placeholder="Buscar nombre."
              style="width: 300px"
              class="form-control input-sm"
              ng-model="f"
              min="0">
          </li>
        </ul>

      </div>
      <div class="panel-body">

        <table class="table table-bordered">
            <thead>
              <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Estado</th>
                  <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in lista | filter:f">
                  <td>{{$index + 1}}</td>
                  <td>{{item.nombre}}</td>
                  <td>
                    <div class="label label-primary" ng-if="item.estado == 'A'">Activo</div>
                    <div class="label label-warning" ng-if="item.estado == 'I'">Inactivo</div>
                  </td>
                  <td class="text-center">
                    <a href="/#/categoria/{{item.id}}">
                      <i class="fa fa-lg fa-edit mpointer text-muted" title="Editar">
                      </i>
                    </a>

                    <i class="fa fa-lg fa-trash mpointer text-muted"
                        ng-click="eliminarCategoria(item.id)"
                        title="Eliminar">
                    </i>
                  </td>
              </tr>
            </tbody>
        </table>

      </div>
    </div>
  </div>

</div>
